.pai-addCurso{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: solid 2px #fff;
    height: fit-content;
    flex-wrap: wrap;
    align-content: center;


}

.text-addCurso{
    color: #fff;
    text-decoration: underline 10%;
    margin-bottom: 2rem;
}

.addCurso-container{
    background-color: #fff;
    width: 40rem;
    height: 25rem;
    border-radius: 2%;
    
}

.AddCurso-periodo{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.text-addCurso-periodo{
    margin-top: 2rem;
}