.doc-pag{
  padding: 1rem;
  background-color: #fff;
  max-width: 105vh;
  height: fit-content;
  margin-top: 10%;
  margin-left: 22%;
  box-shadow:  10px 10px 20px;;
}

.doc-header{
  text-align: left;
  font-size: 15px;
}

.doc-name{
  text-align: center;
  margin: 2rem;
}

.doc-body{
  text-align: center;
}

.doc-text{
  font-size: 20px;
  text-align: justify;
  margin-top: 1rem;
}

.doc-text-obg{
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
}

.btn-avaliacao{
  margin-top: 2%;
}
