.IntecFeed{
    color: #fff;
    text-decoration: underline 10%;
}

.pai{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: solid 2px #fff;
    height: fit-content;
    justify-content: center;

}
  
.containerFeed{
    background-color: #fff;
    width: 50vw;
    height: 60vh;
    
}
.Form-header{
    display: flex;
    padding: 1rem;
    background-color: rgb(10, 1, 145);
}

.cont-pesquisa{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.alunofeed{
    margin-top: 1%;
    margin-left: 2%;
    color: #fff;
}

.turmafeed{
    margin-top: 1%;
    margin-left: 2%;
    color: #fff;
    
}

.bodyForm1{
    display: flex;
    padding: 2rem;
}

.divTurmas{
    display: flex;
    background-color: grey;
    margin-top: 2%;
    width: 100%;
    align-items: center;
    box-shadow: 4px 4px 6px;
}

.texto-divturma{
    margin-top: 2%;
    margin-left: 2%;
    color: #fff;
}

.btnAvancar{
    margin-left: 20vw;
}

