.login-cont{
    width: 30vw;
    height: fit-content;
    padding: 5rem;
    background-color: #fff;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    box-shadow: 1rem 1rem 2rem rgb(6, 7, 19);
}

.form-text{
    text-align: left;
    font-weight: bold;
}

.Login-Logo{
    width: 8rem;
    height: 6rem;  
    margin-bottom: 1rem;   
}

#box-check {
    float: none;
    margin-left: none;
}