.login-cont{
    width: 30vw;
    height: fit-content;
    padding: 5rem;
    background-color: #fff;
    margin-top: 7%;
    margin-left: 35%;
    border-radius: 2%;
    box-shadow: 1rem 1rem 2rem rgb(6, 7, 19);
}

.Login-Logo{
    width: 8rem;
    height: 6rem;     
}

.checkbox{
    font-size: smaller;
}
