.linha {
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border: solid 2px #fff;
  width: fit-content;
  height: fit-content;
}

.linha main {
  padding: 2rem;

}


.linha main header {
  display: flex;
  margin-bottom: 2rem;
  height: 30%;
  justify-content: space-between;
  gap: 1rem;
}