.contanier-obs2{
  margin: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border: solid 2px #fff;
  width: 190vh;;
  height: fit-content;
}

.header-obs2{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

.Intecobs{
  color: #fff;
  text-decoration: underline 10%;
 
}

.upload-img{
  width: 10rem;
  margin: auto;
  
}

.IntecObs{
  color: #fff;
  text-decoration: underline 10%;
  margin-bottom: 5rem;
}

input[type="file"]{
   display: none;
}


.label-upload{
  color: #fff;
  border-radius: 5%;
  border: solid 2px #fff;
  justify-content: center;
  width: 20rem;
  
}

.form-upload{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  justify-content: center;
}

.img{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}