.pai-Perm{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: solid 2px #fff;
    height: fit-content;
    flex-wrap: wrap;
    align-content: center;
}

.text-Perm{
    color: #fff;
    text-decoration: underline 10%;
    margin-bottom: 2rem;
}

.Perm-container{
    background-color: #fff;
    width: 40rem;
    height: fit-content;
    border-radius: 2%;
    
}

.perm-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    padding: 2rem;
    text-align: left;
}

.Perm-rm{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    font-weight: bold;
}

.result-cont{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    gap: 5px;
}

.btn-perm-cont{
    display: flex;
    margin-top: 4rem;
    padding: 2rem;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}

.reg-number{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    gap: 5px;
}

.nr{
    font-size: 1rem;
}

.rm-gt-n{
    font-size: 13px;
    font-family: bold;
}

.justfy-perm{
    display: flex;
    flex-direction: row;
}

.cont-perm-form{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 11rem;
    height: 1rem;
}

.perm-left-result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    margin-top: 3.6rem;
    text-align: left;
}

.btn-perm-excluir{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    gap: 2rem;
}

.Perm-aut{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    font-weight: bold;
}

.btn-consultar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    align-content: space-around;
}