.cont-btn-coord{
    position: fixed;
    padding: 4px;
    margin-top: 20rem;
    margin-left: 8px;
    z-index: 99;
    font-size: smaller;
    background-color: rgb(255, 255, 255);
    border-radius: 100vw;
  }
  
  .p-style{
    color: #0b1d3f;
    font-weight: bold;
    font-size: smaller;
    justify-content: center;
    align-items: center;
  
  }
  
  .btn-color{
    margin-top: 10px;
    color:  #0b1d3f;
  }