.teste{
  justify-items: left;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.HeaderLogo {
  width: 5%;
  height: 5%;
}

.HeaderLink {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover,
.HeaderLink :hover {
  color: rgb(133, 133, 133) !important;
  transition: 0.3s;

}

