.cont-nav{
  margin-bottom: 4rem;
  text-align: center;
}

.HeaderLogo {
  width: 4rem;
  height: 3rem;
  margin-left: 1rem;
}

.HeaderLink {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
  margin-right: auto;
  margin-left: 48%;
}

.Header-cad, .Header-log{
  color: rgb(0, 0, 0);
  font-size: larger;
  text-decoration: none;
  transition: 0.3s;
}

.Header-cad :hover, .Header-log :hover{
  color: rgb(117, 117, 117) !important;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}


.justify_tittle {
  position: relative;
  text-align:center;
  display: flex;
  margin: auto;
}

 .HeaderLink :hover {
  color: rgb(133, 133, 133) !important;
  transition: 0.3s;
}

a:hover {
   color: rgb(133, 133, 133) !important; 
}






