.modal-add-Doc{
    background-color: #0b1d3f;
    width: 30vw;
    height: fit-content;
    margin: auto;
    margin-top: 0.5%;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 2%;
    padding: 2rem;

    
}

.cont-modal{
    text-align: left;
    font-weight: bold;
    gap: 2rem;
}


.Modal-upload{
    color: #fff;
    border-radius: 2%;
    border: solid 2px #fff;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.Modal-img{
    width: 7rem;
    margin: auto;
    
}


.Modal-upload-form{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.textarea-modal{
    width: 100%;
    height: 15vh;
    border-radius: 2%;
    resize: none;
    margin-bottom: 1rem;
}

input[type="file"]{
    display: none;
 }

 .btn-criar-modal{
     margin-right: 1rem;
 }
